.flex-container {
  display: flex;
  margin: 25px;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  border: 12px solid blue;
  border-radius: 10px;
  width: 960px;
  height: 960px;
  row-gap: 0;
  column-gap: 0;
}

h1 {
  margin: 10px;
  text-align: center;
  font-size: 38px;
}

.colorCell0 {
  background-color: rgba(0, 0, 0, 0);
}
.colorCell1 {
  background-color: rgba(0, 0, 0, 0.1);
}
.colorCell2 {
  background-color: rgba(0, 0, 0, 0.2);
}
.colorCell3 {
  background-color: rgba(0, 0, 0, 0.3);
}
.colorCell4 {
  background-color: rgba(0, 0, 0, 0.4);
}
.colorCell5 {
  background-color: rgba(0, 0, 0, 0.5);
}
.colorCell6 {
  background-color: rgba(0, 0, 0, 0.6);
}
.colorCell7 {
  background-color: rgba(0, 0, 0, 0.7);
}
.colorCell8 {
  background-color: rgba(0, 0, 0, 0.8);
}
.colorCell9 {
  background-color: rgba(0, 0, 0, 0.9);
}
.colorCell10 {
  background-color: rgba(0, 0, 0, 1);
}

.instructions {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.sizeContainer {
  padding-right: 55px;
}

.shakeContainer {
  animation: shake;
  animation-duration: 1s;
  transform: translate3d(0, 0, 0);
}
@keyframes shake {
  15%,
  85% {
    transform: translate3d(-2px, 0, 0);
  }

  25%,
  75% {
    transform: translate3d(4px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-8px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(8px, 0, 0);
  }
}

/* box-shadow: 5px 5px 10px 5px #0ff, -5px -5px 10px 5px #0ff; */
